
h1 {
    font-family: 'Sacramento', cursive;
    font-size: 90px;
    margin: 0px auto 0 auto;
    padding-top: 100px;
    color: #66BFBF;
    
}

p {
    line-height: 2;
}

hr {
   margin: 150px auto;
    border-style: dotted;
    width: 5%;
    height: 0;
    border-width: 10px;
    border-top: 0;
    color: #eaf6f6;
}

.middle-container {
    margin-top: 70px;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem ;
    color:#66BFBF;
    font-weight: normal;
    padding-bottom: 10px;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
    text-align: left;
}

.Intro {
    width: 35%;
    margin: auto;
    
}

.Get-in-touch {
    text-align: center;
    margin: 25px auto 50px auto;
}

.bottom-container {
 margin-top: 50px;
 background-color: skyblue;
 padding: 50px 0 20px;
 height: 100px;
 line-height: 3;
 font-weight: 600;
}
a {
    color: #11999E;
    margin: 150px 15px;
}
body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    color: #40514E
}

.Personal-Picture {
    border-radius: 30%;
    width: 15%;
    margin: 15px auto;
}

.Design-and-Development {
    width: 30%;
    border-radius: 30%;
    float: left;
    margin-right: 30px;
}

.projects {
    width: 30%;
    border-radius: 30%;
    float: right;
    margin-left: 30px;
}

.projects-info {
    text-align: left;
}

.design-and-development-info {
    text-align: left;
}

.pro {
    text-decoration:underline
}

.top-container {
    background-color:skyblue;
    margin: 0;
    height: 824px;
}

.cloud-top {
    position: absolute;
    right: 300px;
    top: 50px;
}

.mountain {
    margin: 0px auto;
    width: 784px;

}


.cloud-bottom {
    position: absolute;
    left: 350px;
    top: 235px;
}

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }


.skill-row {
    width: 50%;
    margin: 100px auto;
    line-height: 2;
}

.skill-row-2 {
    width: 50%;
    margin: 150px auto;
    line-height: 2;
}








.sth-to-know-about-me-if-youre-a-good-programmer { display: none; }